name: CI/CD Deploy

on:
  push:
    branches: 
      - main
jobs: 
  test-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      - name: Run pre-commit hooks
        run: |
          pre-commit install
          pre-commit run --all-files

      - name: Build docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/expense-tracker:latest .

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/expense-tracker:latest

      - name: Push and run Docker image
        run: |
             docker pull ${{ secrets.DOCKER_USERNAME }}/expense-tracker:latest
             docker stop expense-tracker || true
             docker rm expense-tracker || true
             docker run -d --name expense-tracker -p 8000:8000 ${{ secrets.DOCKER_USERNAME }}/expense-tracker:latest